    <h2>Log In</h2>
    <hr>
    {{#if errorMsg}}
        <div class="alert alert-danger"><strong>Error:</strong> {{errorMsg}}</div>
    {{/if}}
    <form method="post" action="/user/login">
        <div>
            <div>
                <div>
                    <input id="username" name="email" type="email" placeholder="Email" required value="{{userEmail}}" />
                </div>
            </div>
        </div>
        <div >
            <div>
                <div>
                    <input id="password" name="password" type="password" placeholder="Password" required />
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>